*{


	margin: 0;
	box-sizing: border-box;

}

body{

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url('../imagenes/fondoPagina2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {

	display: flex;
	min-height: 70px;
	background: linear-gradient(180deg, #F04E51 50%, #F0F0F0 50%);
	justify-content:center;
	align-items: center;
	padding: 10px;
	border-bottom: 2px solid red;

}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	text-decoration-color: black;
	background-color: #F0F0F0;
}


.log{

	display: flex;
	align-items: center;

}

.log img{

	height: 10rem;

}

.object_finder{
	margin: 5%;
}

.container {

	min-width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	margin: 0;
	
}

.card {

	background: linear-gradient(180deg, #F04E51 50%, #F0F0F0 50%);
	min-height: 370px;
	min-width: 370px;
	max-width: 20px;
	padding: 1rem;
	margin: 5%;
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;

}



.name_item {
    font-size: 1.5rem;
    padding: 3%;
    background-color: black;
    min-width: 230px;
	height: 50px;
	text-align: center;
	border-radius: 5%;
}

.name_item:hover{
	color: black;
}

img.img_item{

	width: 40%;

}

a.name_item{
	color: #F0F0F0;
}

.div_category{
	margin-top: 170px;
}

p.category_item{
	margin-top: 10%;
	background-color:rgba(66, 185, 66, 0.514);
}

p.effect_item{
	margin-top: 10%;
	background-color:rgba(40, 40, 216, 0.521);
}

p.japones_item{
	margin-top: 10%;
	margin-bottom: 10%;
	background-color:#ffcd0581;
}

.social{
	text-align: center;
}

/*FOOTER*/

.footer {

	display: flex;
	min-height: 70px;
	background-color: #F04E51;
	color:#F0F0F0;
	justify-content:space-around;
	align-items: center;
	padding: 10px;

}

footer{

	margin-top: auto;

}

.PiePag .box_footer{

	display: flex;
	
}

/*CSS DETAILS*/

.itemDetail{
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	margin-top: 5%;
	margin-bottom: 10px;
}

.pokeImage{
	background: linear-gradient(180deg, #F04E51 40%, #F0F0F0 40%);
	border: black solid 2px;
	border-radius: 100%;
}

.bigCard{
	background: linear-gradient(180deg, #F04E51 40%, #F0F0F0 40%);
	max-width: 50%;
	padding: 1rem;
	margin: 5%;
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;
}

.nameDetail_item {
    font-size: 1.5rem;
    padding: 3%;
    background-color:#F0F0F0;
    min-width: 230px;
	height: 50px;
	text-align: center;
	border-radius: 5%;
}

h1{
	color:#F04E51;
	margin-bottom: 10px;
}

.description_item{
	color: #F0F0F0;
}

img.imgDetail_item{

	margin-top: 60px;
	width: 20%;

}

p.underline{
	text-decoration: underline;
	margin-bottom: 10px;
}

p.description_item{
	text-align: center;
}

.features{
	border: #F04E51 solid 5px;
	padding: 10px;
	border-radius: 10%;
	text-align: center;
	margin-bottom: 20px;
}

.return{
	text-align: center;
	margin-bottom: 5%;
}

/*DISEÑO RESPONSIVE*/

@media screen and (max-width:840px){

	header{

		flex-direction: column;
		font-size: small;

	}

	img.imgDetail_item{

		margin-top: 100px;
		width: 10%;
	
	}
}