*{

	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{

	margin:auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	text-align: justify;

}

.cabecera {

	display: flex;
	min-height: 70px;
	background-color:lightslategray;
	justify-content:center;
	align-items: center;
	padding: 10px;

}

.cabecera h2{

margin-left: 20px;
color:rgb(240, 197, 59);

}

.logo{

	display: flex;
	align-items: center;

}

.logo img{

	height: 10rem;

}

.container {

	display: flex;
	justify-content: center;
    align-items: center;
	flex-wrap: wrap;

}

.card {

	background-color: slategray;
	min-height: 25rem;
	min-width: 22rem;
	padding: 1rem;
	margin: 1%;

}

.list_item {
    font-size: 1.5rem;
    padding: 20px;
    background-color: beige;
    min-width: 130px;
	text-align: center;
  }

/*FOOTER*/


footer{

	margin-top: auto;

}



.cabecera #logo_footer{

	width: 2%;

}

.PiePag .box_footer{

	display: flex;
	
}

.PiePag .cabecera{

	justify-content:space-around;
	text-align: center;

}

/*DISEÑO RESPONSIVE*/

@media screen and (max-width:840px){

	header{

		flex-direction: column;
		font-size: small;

	}

}

